__pycache__/
*.py[cod]
*$py.class

*.so

venv/
.venv/
env/
bin/
lib/
include/
share/

.pytest_cache/
.coverage
htmlcov/
.tox/
.nosepy

.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

results/*.png

dist/
build/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.DS_Store
Thumbs.db